<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title><ui:insert name="title">Default Title</ui:insert></title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsxaUzsWkYisLDGLHX8Ma5mUYk4r9O30A"></script>
    <h:outputScript name="heatmap.js" library="js" target="body"/>
    <h:outputScript name="plugins/gmaps-heatmap/gmaps-heatmap.js" library="js" target="body"/>
</h:head>

<h:body>
    <div id="container">
        <div id="header">
            <ui:insert name="header">
                <h1>Heatmap application.</h1>
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content">
                Content
            </ui:insert>
        </div>

        <div id="footer">
            <ui:insert name="footer">
            </ui:insert>
        </div>
    </div>
</h:body>
</html>