<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/WEB-INF/templates/simple.xhtml">
    <ui:define name="title">
        Aplicacion de heatmap
    </ui:define>

    <ui:define name="content">
        <div id="map-canvas" style="height: 600px; width: 800px"></div>

        <h:outputScript type="javascript" target="body">
            var heatmap;
            var testdata;
            var mydata = [];
            function initThisMap() {
                var myLatlng = new google.maps.LatLng(14.5669531, -87.6005171);
                map = new google.maps.Map(document.getElementById('map-canvas'), {
                    center: {lat: 14.5669531, lng: -87.6005171},
                    zoom: 8
                });
                heatmap = new HeatmapOverlay(map,
                        {
                            // radius should be small ONLY if scaleRadius is true (or small radius is intended)
                            "radius": 0.3,
                            "maxOpacity": 1,
                            // scales the radius based on map zoom
                            "scaleRadius": true,
                            // if set to false the heatmap uses the global maximum for colorization
                            // if activated: uses the data maximum within the current map boundaries
                            //   (there will always be a red spot with useLocalExtremas true)
                            "useLocalExtrema": true,
                            // which field name in your data represents the latitude - default "lat"
                            latField: 'lat',
                            // which field name in your data represents the longitude - default "lng"
                            lngField: 'lng',
                            // which field name in your data represents the data value - default "value"
                            valueField: 'count'
                        }
                );
            }
            window.onload = function() {
                initThisMap();
                loadData();
            }

            function getDataElement() {
                var index;

                dts = document.getElementsByTagName('input');
                for (index = 0; index &lt; dts.length; index++) {
                    if (dts[index].id.indexOf('data') > -1) {
                        return dts[index].value;
                    }
                }
                return undefined;
            }

            function loadData() {
                mydata = document.getElementById('newdata').value;
                var arr = [];
                mydata = mydata.split('|');
                len = mydata.length;
                for (var i = 0; i &lt; len; i++) {
                    datos = mydata[i].split(',');
                    arr.push({
                    lat: datos[0],
                    lng: datos[1],
                    count: datos[2]
                    });
                }
                testData = {
                    max: 100,
                    data: arr
                };
                heatmap.setData(testData);
            }

        </h:outputScript>

        <h:form>
            <h:inputHidden id="data" value="#{resultBean.data}"/>
            <h:outputText escape="false" value="#{resultBean.dataScript}"/>
            <h:commandButton action="#{resultBean.doCalc()}" onclick="initThisMap();" value="Calcular"/>
        </h:form>
    </ui:define>


</ui:composition>


</html>